.table_container {
    width: fit-content;
    margin-inline: auto;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 60px repeat(5, 200px);
    grid-template-columns: 50px repeat(5, minmax(150px, 200px));
}

.cell {
    border: 1px solid black;
    text-align: center;
    display: grid;
    grid-template-rows: 3.5rem repeat(4, 1.5rem);
    position: relative;
}

.cell:nth-child(n + 7) {
    padding: 10px;
}

.cell:nth-child(6n + 1) {
    line-height: 40px;
    font-size: 1.3rem;
    vertical-align: baseline;
}

.title {
    font-weight: bold;
    margin: 0;
}

.teacher,
.room,
.textbook {
    margin: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link {
    color: blue;
    position: absolute;
    bottom: 5px;
    width: 100%;
}
